/* Títulos del libro */
h1, h2, h3, h4, h5, h6 {
  color: #0038CF;
}

/*** Tablas 2.2  ***/

.tabla-0202 {
  margin: auto;
  width: 100%;
  max-width: 600px;
  font-size: 0.95em;
  vertical-align: middle;
  border-collapse: collapse;
}

.tabla-0202 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 4px; 
    padding-bottom: 4px;      /* altura de fila más pequeña */
    line-height: 1.15;      /* compacta como en LaTeX */
    font-size: 1em;
    border: none;
}

.tabla-0202 td {
  font-size: 1em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 3px 4px;      /* altura de fila más pequeña */
  line-height: 1.15;      /* compacta como en LaTeX */
  border: none;
}

.tabla-0202 thead tr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.tabla-0202 tbody tr:last-child {
  border-bottom: 1px solid #000;
}

/**********************************/   

/*** Tabla 2.5_1  ***/

.tabla-0205_1 {
  margin: auto;
  width: 55%;
  max-width: 600px;
  border-top: 0px solid #d3d3d3;
  border-bottom: 0px solid #d3d3d3;
  margin-bottom: 0;
}

.tabla-0205_1 td {
  text-align: center;    /* celdas centradas */
  padding: 2px 2px;      /* altura de fila más pequeña */
  line-height: 1.1;      /* compacta como en LaTeX */
  border-top: 0px solid #d3d3d3;
  border-bottom: 0px solid #d3d3d3;
}

.tabla-wrapper2 {
  margin-bottom: 2ex;
}

/**********************************/
/*** Resto tablas pregunta 2.5  ***/

.tabla-0205_2 {
  margin: auto;
  width: 100%;
  max-width: 600px;
  font-size: 0.9em;
  vertical-align: middle;
  border-collapse: collapse;
}

.tabla-0205_2 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 4px; 
    padding-bottom: 4px;      /* altura de fila más pequeña */
    line-height: 1.15;      /* compacta como en LaTeX */
    font-size: 0.9em;
    border: none;
}

.tabla-0205_2 td {
  font-size: 1em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 3px 4px;      /* altura de fila más pequeña */
  line-height: 1.15;      /* compacta como en LaTeX */
  border: none;
}

.tabla-0205_2 tr {
  border-bottom: 0.5px solid black;
  border-top: 0.5px solid black;
}

/*** Tabla en 2.7  ***/

.tabla-0207 {
  margin: auto;
  width: 80%;
  max-width: 600px;
  font-size: 1em;
  vertical-align: middle;
  border: none;
  border-collapse: collapse;
}

.tabla-0207 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 3px;      /* altura de fila más pequeña */
    line-height: 1.1;      /* compacta como en LaTeX */
    font-size: 1em;
}

.tabla-0207 td {
  font-size: 0.95em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1.4;      /* compacta como en LaTeX */
}

.tabla-0207 tr:first-child th {
  border-top: 1px solid #000;
}

.tabla-0207 tr:last-child td {
  border-bottom: 1px solid #000;
}
/*** Esto último es para que no salga raya entre las dos primeras líneas ***/
/**********************************/

/*** Tabla 2.9  ***/

.tabla-0209 {
  margin: auto;
  width: 82%;
  max-width: 600px;
  border-top: 0px solid #d3d3d3;
  border-bottom: 0px solid #d3d3d3;
  margin-bottom: 0;
}

.tabla-0209 td {
  text-align: center;    /* celdas centradas */
  padding: 2px 2px;      /* altura de fila más pequeña */
  line-height: 1.1;      /* compacta como en LaTeX */
  border-top: 0px solid #d3d3d3;
  border-bottom: 0px solid #d3d3d3;
}

/*** Tabla 3.1  ***/

.tabla-antiguedad {
  margin: auto;
  width: 100%;
  max-width: 600px;
  font-size: 0.9em;
  vertical-align: middle;
  border-collapse: collapse;
}

.tabla-antiguedad th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 3px;      /* altura de fila más pequeña */
    line-height: 1.1;      /* compacta como en LaTeX */
    font-size: 1em;
    border: none;
}

.tabla-antiguedad td {
  font-size: 0.95em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 4px;      /* altura de fila más pequeña */
  line-height: 1.1;      /* compacta como en LaTeX */
  border: none;
}

.tabla-antiguedad thead tr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.tabla-antiguedad tbody tr:last-child {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/**********************************/   
/***   Tabla de pregunta 3.2    ***/

.tabla-0302 {
  margin: auto;
  width: 100%;
  max-width: 600px;
  font-size: 0.9em;
  vertical-align: middle;
  border-collapse: collapse;
}

.tabla-0302 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 4px; 
    padding-bottom: 4px;      /* altura de fila más pequeña */
    line-height: 1.15;      /* compacta como en LaTeX */
    font-size: 0.9em;
    border: none;
}

.tabla-0302 td {
  font-size: 1em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 8px 8px;      /* altura de fila más pequeña */
  line-height: 1.2;      /* compacta como en LaTeX */
  border: none;
}

.tabla-0302 tr {
  border-bottom: 0.5px solid black;
  border-top: 0.5px solid black;
}


*** Tabla 4.3  ***/

.tabla-0403 {
  margin: auto;
  max-width: 300px;
  font-size: 0.9em;
}

.tabla-0403 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 3px;      /* altura de fila más pequeña */
    line-height: 1.1;      /* compacta como en LaTeX */
    font-size: 1em;
    border: none;
}

.tabla-0403 td {
  font-size: 0.95em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 4px;      /* altura de fila más pequeña */
  line-height: 1.1;      /* compacta como en LaTeX */
  border: none;
}

.tabla-0403 thead tr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.tabla-0403 tbody tr:last-child {
  border-bottom: 1px solid #000;
}

.tabla-wrapper0403 {
  width: 40%;
  margin-bottom: 3ex;
  margin-left: auto;
  margin-right: auto;
}

/**********************************/   
/*** Tabla 4.4  ***/

.tabla-0404 {
  margin: auto;
  width: 100%;
  max-width: 600px;
  vertical-align: middle;
  border-collapse: collapse;
}

.tabla-0404 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 3px;      /* altura de fila más pequeña */
    line-height: 1.1;      /* compacta como en LaTeX */
    font-size: 0.95em;
    border: none;
}

.tabla-0404 td {
  font-size: 0.90em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 4px;      /* altura de fila más pequeña */
  line-height: 1.1;      /* compacta como en LaTeX */
  border: none;
}

.tabla-0404 thead tr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.tabla-0404 tr:last-child td {
  border-bottom: 1px solid #000;
}

.tabla-wrapper0404 {
  width: 100%;
  margin-bottom: 3ex;
  margin-left: auto;
  margin-right: auto;
}

*** Tabla en 5.8  ***/

.tabla-0508 {
  margin: auto;
  width: 60%;
  max-width: 600px;
  font-size: 1em;
  vertical-align: middle;
  border: none;
  border-collapse: collapse;
}

.tabla-0508 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 3px;      /* altura de fila más pequeña */
    line-height: 1.1;      /* compacta como en LaTeX */
    font-size: 1em;
}

.tabla-0508 td {
  font-size: 0.95em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1.4;      /* compacta como en LaTeX */
    border: none;
}

.tabla-0508 tr:first-child th {
  border-top: 0.5px solid #000;
}

.tabla-0508 tr:last-child td {
  border-bottom: 0.5px solid #000;
}
.tabla-wrapper0508 {
  width: 90%;
  margin-bottom: 3ex;
  margin-left: auto;
  margin-right: auto;
}

/**********************************/
 
*** Tabla en 6.3  ***/

.tabla-0603 {
  margin: auto;
  width: 60%;
  max-width: 600px;
  font-size: 1em;
  vertical-align: middle;
  border: none;
  border-collapse: collapse;
}

.tabla-0603 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 3px;      /* altura de fila más pequeña */
    line-height: 1.1;      /* compacta como en LaTeX */
    font-size: 1em;
    border: none;
}

.tabla-0603 td {
  font-size: 0.95em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1.4;      /* compacta como en LaTeX */
    border: none;
}

.tabla-0603 tr:first-child th {
  border-top: 0.5px solid #000;
}

.tabla-0603 tr:last-child td {
  border-bottom: 0.5px solid #000;
}
.tabla-wrapper0603 {
  width: 60%;
  margin-bottom: 3ex;
  margin-left: auto;
  margin-right: auto;
}

/**********************************/

*** Tabla en 6.5  ***/

.tabla-0605 {
  margin: auto;
  width: 60%;
  max-width: 600px;
  font-size: 1em;
  vertical-align: middle;
  border: none;
  border-collapse: collapse;
}

.tabla-0605 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 6px; 
    padding-bottom: 6px;      /* altura de fila más pequeña */
    line-height: 1.1;      /* compacta como en LaTeX */
    font-size: 1em;
    border: none;
}

.tabla-0605 td {
  font-size: 0.95em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1.3;      /* compacta como en LaTeX */
    border: none;
}

.tabla-0605 tr:first-child th {
  border-top: 0.5px solid #000;
}

.tabla-0605 tr:last-child td {
  border-bottom: 0.5px solid #000;
}
.tabla-wrapper0605 {
  width: 40%;
  margin-bottom: 3ex;
  margin-left: auto;
  margin-right: auto;
}

/**********************************/
*** Tabla 6.6  ***/

.tabla-0606 {
  margin: auto;
  max-width: 300px;
  font-size: 0.9em;
}

.tabla-0606 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 3px;      /* altura de fila más pequeña */
    line-height: 1.3;      /* compacta como en LaTeX */
    font-size: 1em;
    border: none;
}

.tabla-0606 td {
  font-size: 0.95em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 4px;      /* altura de fila más pequeña */
  line-height: 1.1;      /* compacta como en LaTeX */
  border: none;
}

.tabla-0606 thead tr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.tabla-0606 tbody tr:last-child {
  border-bottom: 1px solid #000;
}

.tabla-wrapper0606 {
  width: 35%;
  margin-bottom: 3ex;
  margin-left: auto;
  margin-right: auto;
}

/**********************************/   

*** Tabla en 6.9  ***/

.tabla-0609 {
  margin: auto;
  width: 60%;
  max-width: 600px;
  font-size: 1em;
  vertical-align: middle;
  border: none;
  border-collapse: collapse;
}

.tabla-0609 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 6px; 
    padding-bottom: 4px;      /* altura de fila más pequeña */
    line-height: 1;      /* compacta como en LaTeX */
    font-size: 1em;
    border: none;
}

.tabla-0609 td {
  font-size: 0.95em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1.3;      /* compacta como en LaTeX */
    border: none;
}

.tabla-0609 tr:first-child th {
  border-top: 0.5px solid #000;
}

.tabla-0609 tr:last-child td {
  border-bottom: 0.5px solid #000;
}
.tabla-wrapper0609 {
  width: 60%;
  margin-bottom: 4ex;
  margin-left: auto;
  margin-right: auto;
}

/**********************************/

/* Images */

.figure-caption {
  text-align: center;
}

.poco-espacio p {
 margin-top: 0;
 margin-bottom: 0.2em;
}

.lista-compacta ul li {
  margin-bottom: 0.2em;
}

.center-text {
  text-align: center;
}

figure figcaption {
  text-align: center;
  padding-bottom: 1em;
}

.fig-compacta {
  margin-top: -0.5em;
  margin-bottom: -1em;
}

.fila-compacta {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  line-height: 1;
  vertical-align: middle;
}

.fila-compacta2 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  line-height: 1.2;
  vertical-align: middle;
}

.celda-centrada {
    vertical-align: middle; /* Centra verticalmente */
}

.fig-compacta2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/*** Tabla 7.10  ***/

.tabla-muestras {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
}

/* Líneas superior e inferior */
.tabla-muestras thead tr:first-child th {
  border-top: 1px solid #000;
}

.tabla-muestras th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 1px;      /* altura de fila más pequeña */
    line-height: 1.4;      /* compacta como en LaTeX */
    font-size: 1em;
    border: none;
}

.tabla-muestras td {
  font-size: 0.90em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1.2;      /* compacta como en LaTeX */
    border: none;
}

.tabla-muestras thead tr:last-child th {
  border-bottom: 1px solid #000;
}

/* Línea cada 5 filas */
.tabla-muestras tbody tr:nth-child(5n) {
  border-bottom: 2px solid #d3d3d3;
}

/* Última fila */
.tabla-muestras tbody tr:last-child {
  border-bottom: 1px solid #000;
}

/* Caption */
.tabla-muestras caption {
  caption-side: top;
  font-style: italic;
  font-size: 1em;
  margin-bottom: 0.5em;
}

/***************************/
/*** tabla 6.3 anova ***/

.tabla-peq {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  max-width: 480px;
}

.tabla-peq th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 1px;      /* altura de fila más pequeña */
    line-height: 1.1;      /* compacta como en LaTeX */
    font-size: 0.98em;
        border: none;
}

.tabla-peq td {
  font-size: 0.98em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1.4;      /* compacta como en LaTeX */
    border: none;
}

.tabla-wrapper {
  margin-bottom: 4.5ex;
}

/*** Valores representados ***/

.fila-ultra-compacta {
  border-collapse: collapse;
  margin: auto;
  width: 95%;
  max-width: 600px;
}

.fila-ultra-compacta td {
  text-align: center;
  font-size: 0.98em;
  padding: 0 4px;     /* ← clave para bajar la altura */
  line-height: 1.4;  /* ← compacto tipo LaTeX */
  border: none;      /* ← sin rallas */
}

/* Mata los bordes que mete el tema */
table.fila-ultra-compacta,
table.fila-ultra-compacta tbody,
table.fila-ultra-compacta tr {
  border: none !important;
}

/***   Pregunta 6.6 ***/

.tabla-pequena2 table {
  font-size: 1em;
}

.tabla-pequena2 th {
  padding: 2px 2px;     /* menos relleno vertical */
  line-height: 1.4;    /* reduce altura de línea */
}

.tabla-pequena2 td {
  text-align: center;    /* celdas centradas */
  padding: 2px 2px;      /* altura de fila más pequeña */
  line-height: 1.4; 
}

/***   Pregunta 7.10 Tabla 7.2  ***/

.tabla-peq2 {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  max-width: 600px;
}

.tabla-peq2 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 3px;      /* altura de fila más pequeña */
    line-height: 1.1;      /* compacta como en LaTeX */
    font-size: 0.98em;
        border: none;
}

.tabla-peq2 td {
  font-size: 0.98em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1.4;      /* compacta como en LaTeX */
    border: none;
}

.tabla-wrapper {
  margin-bottom: 4.5ex;
}

/*** Tabla 8.1  ***/

.tabla-muestras2 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
}

/* Líneas superior e inferior */
.tabla-muestras2 thead tr:first-child th {
  border-top: 1px solid #000;
}

.tabla-muestras2 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 1px;      /* altura de fila más pequeña */
    line-height: 1.4;      /* compacta como en LaTeX */
    font-size: 1em;
    border: none;
}

.tabla-muestras2 td {
  font-size: 0.90em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1.2;      /* compacta como en LaTeX */
    border: none;
}

.tabla-muestras2 thead tr:last-child th {
  border-bottom: 1px solid #000;
}

/* Línea cada 4 filas */
.tabla-muestras2 tbody tr:nth-child(4n) {
  border-bottom: 2px solid #d3d3d3;
}

/* Última fila */
.tabla-muestras2 tbody tr:last-child {
  border-bottom: 1px solid #000;
}

.tabla-wrapper2 {
  margin-bottom: 2ex;
}

.tabla-wrapper3 {
  margin-bottom: 3ex;
}

.tabla-wrapper4 {
  margin-bottom: 4ex;
}

/********************************************************/
/***   Creo que lo que viene a continuación no sirve  ***/

.tabla-pequena {
  margin: auto;
  width: 80%;
  max-width: 400px;
  font-size: 0.9em;
  vertical-align: middle;
}
.tabla-pequena th {
  padding: 4px 6px;     /* menos relleno vertical */
  line-height: 1.2;    /* reduce altura de línea */
}
.tabla-pequena td p {
  margin: 0px;           /* elimina espacio extra */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1;      /* compacta como en LaTeX */
} 