/* Images */

.figure-caption {
  text-align: center;
}

.poco-espacio p {
 margin-top: 0;
 margin-bottom: 0.2em;
}

.lista-compacta ul li {
  margin-bottom: 0.2em;
}

.center-text {
  text-align: center;
}

.tabla-pequena table {
  font-size: 0.9em;
}

figure figcaption {
  text-align: center;
  padding-bottom: 1em;
}

.fig-compacta {
  margin-top: -0.5em;
  margin-bottom: -1em;
}

.fila-compacta {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  line-height: 1;
  vertical-align: middle;
}

.fila-compacta2 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  line-height: 1.2;
  vertical-align: middle;
}

.celda-centrada {
    vertical-align: middle; /* Centra verticalmente */
}

.fig-compacta2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.tabla-pequena td,
.tabla-pequena th {
  padding: 4px 6px;     /* menos relleno vertical */
  line-height: 1.2;    /* reduce altura de línea */
}

.tabla-pequena td p {
  margin: 0px;           /* elimina espacio extra */
}

