/* Images */

.figure-caption {
  text-align: center;
}

.poco-espacio p {
 margin-top: 0;
 margin-bottom: 0.2em;
}

.lista-compacta ul li {
  margin-bottom: 0.2em;
}

.center-text {
  text-align: center;
}

.tabla-pequena table {
  font-size: 0.9em;
}

figure figcaption {
  text-align: center;
}