/* Images */

.figure-caption {
  text-align: center;
}

.poco-espacio p {
 margin-top: 0;
 margin-bottom: 0.2em;
}

.lista-compacta ul li {
  margin-bottom: 0.2em;
}

.center-text {
  text-align: center;
}

.tabla-pequena table {
  font-size: 0.9em;
}

figure figcaption {
  text-align: center;
}

.fig-compacta {
  margin-top: -0.5em;
  margin-bottom: -1em;
}

.fila-compacta {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  line-height: 1;
  vertical-align: middle;
}