/* Títulos del libro */
h1, h2, h3, h4, h5, h6 {
  color: #0038CF;
}

/*** Tabla 2.5_1  ***/

.tabla-0205_1 {
  margin: auto;
  width: 55%;
  max-width: 600px;
  border-top: 0px solid #d3d3d3;
  border-bottom: 0px solid #d3d3d3;
  margin-bottom: 0;
}

.tabla-0205_1 td {
  text-align: center;    /* celdas centradas */
  padding: 2px 2px;      /* altura de fila más pequeña */
  line-height: 1.1;      /* compacta como en LaTeX */
  border-top: 0px solid #d3d3d3;
  border-bottom: 0px solid #d3d3d3;
}

.tabla-wrapper2 {
  margin-bottom: 2ex;
}

/*********************/

.tabla-pequena {
  margin: auto;
  width: 100%;
  max-width: 600px;
  font-size: 0.9em;
  vertical-align: middle;
}
.tabla-pequena th {
  padding: 4px 6px;     /* menos relleno vertical */
  line-height: 1.2;    /* reduce altura de línea */
}
.tabla-pequena td p {
  margin: 0px;           /* elimina espacio extra */
} 
    
    
    
    
/* Images */

.figure-caption {
  text-align: center;
}

.poco-espacio p {
 margin-top: 0;
 margin-bottom: 0.2em;
}

.lista-compacta ul li {
  margin-bottom: 0.2em;
}

.center-text {
  text-align: center;
}

.tabla-pequena table {
  font-size: 0.9em;
}

figure figcaption {
  text-align: center;
  padding-bottom: 1em;
}

.fig-compacta {
  margin-top: -0.5em;
  margin-bottom: -1em;
}

.fila-compacta {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  line-height: 1;
  vertical-align: middle;
}

.fila-compacta2 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  line-height: 1.2;
  vertical-align: middle;
}

.celda-centrada {
    vertical-align: middle; /* Centra verticalmente */
}

.fig-compacta2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.tabla-pequena td,
.tabla-pequena th {
  padding: 4px 6px;     /* menos relleno vertical */
  line-height: 1.2;    /* reduce altura de línea */
}

.tabla-pequena td p {
  margin: 0px;           /* elimina espacio extra */
}

/*** Tabla 7.10  ***/

.tabla-muestras {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
}

/* Líneas superior e inferior */
.tabla-muestras thead tr:first-child th {
  border-top: 1px solid #000;
}

.tabla-muestras th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 1px;      /* altura de fila más pequeña */
    line-height: 1.4;      /* compacta como en LaTeX */
    font-size: 1em;
    border: none;
}

.tabla-muestras td {
  font-size: 0.90em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1.2;      /* compacta como en LaTeX */
    border: none;
}

.tabla-muestras thead tr:last-child th {
  border-bottom: 1px solid #000;
}

/* Línea cada 5 filas */
.tabla-muestras tbody tr:nth-child(5n) {
  border-bottom: 2px solid #d3d3d3;
}

/* Última fila */
.tabla-muestras tbody tr:last-child {
  border-bottom: 1px solid #000;
}

/* Caption */
.tabla-muestras caption {
  caption-side: top;
  font-style: italic;
  font-size: 1em;
  margin-bottom: 0.5em;
}

/***************************/
/*** tabla 6.3 anova ***/

.tabla-peq {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  max-width: 480px;
}

.tabla-peq th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 1px;      /* altura de fila más pequeña */
    line-height: 1.1;      /* compacta como en LaTeX */
    font-size: 0.98em;
        border: none;
}

.tabla-peq td {
  font-size: 0.98em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1.4;      /* compacta como en LaTeX */
    border: none;
}

.tabla-wrapper {
  margin-bottom: 4.5ex;
}

/*** Valores representados ***/

.fila-ultra-compacta {
  border-collapse: collapse;
  margin: auto;
  width: 95%;
  max-width: 600px;
}

.fila-ultra-compacta td {
  text-align: center;
  font-size: 0.98em;
  padding: 0 4px;     /* ← clave para bajar la altura */
  line-height: 1.4;  /* ← compacto tipo LaTeX */
  border: none;      /* ← sin rallas */
}

/* Mata los bordes que mete el tema */
table.fila-ultra-compacta,
table.fila-ultra-compacta tbody,
table.fila-ultra-compacta tr {
  border: none !important;
}

/***   Pregunta 6.6 ***/

.tabla-pequena2 table {
  font-size: 1em;
}

.tabla-pequena2 th {
  padding: 2px 2px;     /* menos relleno vertical */
  line-height: 1.4;    /* reduce altura de línea */
}

.tabla-pequena2 td {
  text-align: center;    /* celdas centradas */
  padding: 2px 2px;      /* altura de fila más pequeña */
  line-height: 1.4; 
}

/***   Pregunta 7.10 Tabla 7.2  ***/

.tabla-peq2 {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  max-width: 600px;
}

.tabla-peq2 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 3px;      /* altura de fila más pequeña */
    line-height: 1.1;      /* compacta como en LaTeX */
    font-size: 0.98em;
        border: none;
}

.tabla-peq2 td {
  font-size: 0.98em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1.4;      /* compacta como en LaTeX */
    border: none;
}

.tabla-wrapper {
  margin-bottom: 4.5ex;
}

/*** Tabla 8.1  ***/

.tabla-muestras2 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
}

/* Líneas superior e inferior */
.tabla-muestras2 thead tr:first-child th {
  border-top: 1px solid #000;
}

.tabla-muestras2 th {
    font-weight: 400;
    text-align: center;    /* celdas centradas */
    padding-top: 3px; 
    padding-bottom: 1px;      /* altura de fila más pequeña */
    line-height: 1.4;      /* compacta como en LaTeX */
    font-size: 1em;
    border: none;
}

.tabla-muestras2 td {
  font-size: 0.90em;      /* equivalente a \footnotesize */
  text-align: center;    /* celdas centradas */
  padding: 2px 6px;      /* altura de fila más pequeña */
  line-height: 1.2;      /* compacta como en LaTeX */
    border: none;
}

.tabla-muestras2 thead tr:last-child th {
  border-bottom: 1px solid #000;
}

/* Línea cada 4 filas */
.tabla-muestras2 tbody tr:nth-child(4n) {
  border-bottom: 2px solid #d3d3d3;
}

/* Última fila */
.tabla-muestras2 tbody tr:last-child {
  border-bottom: 1px solid #000;
}

